@model WebMobilProgramlama.Models.Table
@{
    ViewBag.Title = "İl Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-4">İli Düzenle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ilplaka)

    <div class="row g-3">
        <div class="col-sm-8 col-md-6 col-lg-4">
            @Html.LabelFor(m => m.ilad, new { @class = "form-label" })
            @Html.EditorFor(m => m.ilad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.ilad, "", new { @class = "text-danger small" })
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Kaydet</button>
            @Html.ActionLink("İptal", "Index", null,
                new { @class = "btn btn-outline-secondary ms-2" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
